/* Blokk font for mockups */

@font-face {
    font-family: 'BLOKKRegular';
    src: url('BLOKKRegular.eot');
    src: url('BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('BLOKKRegular.woff') format('woff'),
         url('BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
	font-family: "BLOKKRegular";
	font-size: 12px;
	line-height: 14px
}

body, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans Condensed', sans-serif !important;
	z-index: 1;
}

nav{
	z-index: 999 !important;
}

footer{
	text-align: center;
}

.title-overlay h1.cursive {
	font-family: 'Sacramento', cursive !important;
	font-size: 50px;
	margin: 0px 0;
	font-weight: bold;
}

h1.cursive {
	font-family: 'Sacramento', cursive !important;
	font-size: 40px;
	margin: 30px 0;
}
h2.cursive {
	font-family: 'Sacramento', cursive !important;
	font-size: 28px;
	margin: 20px 0 0;
	line-height: 18px
}

.title-overlay h2.cursive{
	font-family: 'Sacramento', cursive !important;
	font-size: 35px;
	margin: 0px 0;
	font-weight: bold;
}
.title-overlay{
	background: rgba(255,255,255,0.7);
	padding: 25px 0;
}

.spacer{
	height:40px;
}

/* 
**********************************

Color Controls

**********************************
*/

.nocolor{
	background: #eee !important;
}

.color1{
	background: #F99 !important;
}

.color2{
	background: #9FF !important;
}

.color3{
	background: #99F !important;
}

.color4{
	background: #333 !important;
}

/* 
**********************************

Schedule Box

**********************************
*/
.schedule-row{
	z-index: 1 !important;
}
.schedule-box{
	padding: 20px;
	vertical-align: top;
}

.schedule-row .date{
	font-size: 18px;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
}

.schedule-row .date .day{
	font-size: 40px;
	padding: 0px 5px;
}

.schedule-row .date .month{
	padding: 10px 5px;
}

.schedule-row .detail{
	font-size: 10px;
}

.schedule-row .detail h1{
	font-size: 20px;
	margin: 3px 0 0 0;
}

.schedule-row .detail h2{
	font-size: 16px;
	margin: 0;
}



/* 
**********************************

Gallery

**********************************
*/

.gallery img {
	border-radius: 10px;
	display: inline-block;
	margin: 20px;

}

/* 
**********************************

Navbar 

**********************************
*/

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.btn-primary:not(.btn-link):not(.btn-flat):hover{
	background: #4285f4;
}

.nav-centered{
  text-align:center !important;
  z-index: 999
}
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-nav {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.nav-rsvp {
	margin: -10px 5px !important;
	height: 80px;
	line-height: 40px !important;
	border-radius: 10px !important;
}

ul.navbar-nav li{
	width: 120px;
}

ul.navbar-nav li.rsvp{
	width: 78px;
}


/* 
**********************************

Full-wdith image stuff

**********************************
*/ 

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('../img/logsit-cropped.jpg') no-repeat center center scroll;
	background-color: #933;
    padding: 350px 0 100px;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 30px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

.headerimg{
	background-image: url('../img/logsit.jpg');
	background-size: cover;
}